<h2>Países</h2>
<hr>

<ul class="list-group m-3">

  <!-- <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact : true }"
    class="btn btn-outline-primary list-group mb-2"
  >
    Home
  </li>

  <li
    routerLink="about"
    routerLinkActive="active"
    class="btn btn-outline-primary list-group mb-2"
  >
    About
  </li>

  <li
    routerLink="contact"
    routerLinkActive="active"
    class="btn btn-outline-primary list-group mb-2"
  >
    Contact
  </li> -->

  <li
    routerLink="countries/by-capital"
    routerLinkActive="active"
    class="btn btn-outline-primary list-group mb-2"
  >
    Por capital
  </li>

  <li
    routerLink="countries/by-country"
    routerLinkActive="active"
    class="btn btn-outline-primary list-group mb-2"
  >
    Por país
  </li>

  <li
    routerLink="countries/by-region"
    routerLinkActive="active"
    class="btn btn-outline-primary list-group mb-2"
  >
    Por región
  </li>

</ul>
